/*!
 * Start Bootstrap - Blog Post HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.info{
    font-family: 'Adobe Caslon Pro'
}

.comment_info{
    display: block;
    float: left;
    width: 300px;
}
.comment_reply{
    display: block;
    font-size: 14px;
    height: 40px;
    background-color: #dff0d8;
}
.reply{
    display: block;
    width: 350px;
    float: left;
}

.reply-body{

    width: 300px;
}

.reply-group{
    width: inherit;
}