<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guest Book</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom CSS-->
    <link rel="stylesheet" th:href="@{/css/blog-post.css}" href="../../css/blog-post.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
    </div>
</nav>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Post -->
            <!-- Title -->
            <h1>Guest Book</h1>
            <!-- Comments -->
            <!-- Comments Form -->
            <div class="well">
                <form role="form" th:object="${guest}" th:method="post" th:action="@{/guests}">
                    Name:  <input type="text" name="name" required th:field="*{name}"><br><br>
                    Email: <input type="email" name="email" th:field="*{email}">
                    <h4>Leave a Comment:</h4>
                    <div class="form-group">
                            <textarea class="form-control" rows="3" required th:field="*{comments[0].comment}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <hr>

            <!-- Posted Comments -->

            <div class="media" th:each="guest: ${guests}">
                <div class="comment_info">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="info" th:text="${guest.name}"></div>
                    <hr>
                    <div th:text="${guest.email}"></div>
                    <hr>
                    <div class="media-body" th:each="comment: ${guest.comments}">
                        <!-- All comment and Nested Comment -->
                        <div th:text="${comment.comment}" class="comment_reply"></div>
                    </div>
                    <hr>
                </div>
                <!--Comment replies-->
                <div class="reply">
                    <div class="modal-header">
                        <h3>Enter your Comment</h3>
                    </div>
                    <!---->
                    <form id="contact_form" th:object="${comment_in}" th:method="put" th:action="@{'/guests/'+${guest.id}+'/comments'}">
                        <div class="reply-body">
                            <div class="reply-group">
                                <textarea class="form-control" rows="3" th:field="*{comment}" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="submitForm" class="btn btn-info">Reply Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


    <hr>

<!-- jQuery -->
<script th:src="@{/js/jquery.js}" src="../../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
